[submodule "cpp-library"]
	path = cpp-library
	url = git@github.com:fburgerdev/cpp-library
[submodule "modules/vecmath"]
	path = modules/vecmath
	url = git@github.com:fburgerdev/vecmath
[submodule "modules/glfw3-lib"]
	path = modules/glfw3-lib
	url = git@github.com:fburgerdev/glfw3-lib
[submodule "modules/glew-lib"]
	path = modules/glew-lib
	url = git@github.com:fburgerdev/glew-lib
